# Core data libraries
pandas
numpy
matplotlib
seaborn
nltk
tqdm
scikit-learn
pyyaml

# Transformers + embedding
torch
transformers
sentence-transformers
huggingface_hub

# LangChain stack
langchain
langchain_community
chromadb
langchain-core
# UI (pick one)
streamlit
gradio==4.40.0

# Testing
pytest

# to download the .zip file from Google Drive using its file ID.
gdown